<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
    <style type="text/css">
        <!--
        span.cls_003 {
            font-family: "Century", serif;
            font-size: 14.1px;
            color: rgb(255, 255, 255);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_003 {
            font-family: "Century", serif;
            font-size: 14.1px;
            color: rgb(255, 255, 255);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_006 {
            font-family: Arial, serif;
            font-size: 12.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_006 {
            font-family: Arial, serif;
            font-size: 12.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_026 {
            font-family: Arial, serif;
            font-size: 12.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: underline
        }

        div.cls_026 {
            font-family: Arial, serif;
            font-size: 12.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_010 {
            font-family: Arial, serif;
            font-size: 11.1px;
            color: rgb(255, 255, 255);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_010 {
            font-family: Arial, serif;
            font-size: 11.1px;
            color: rgb(255, 255, 255);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_012 {
            font-family: Arial, serif;
            font-size: 9.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_012 {
            font-family: Arial, serif;
            font-size: 9.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_009 {
            font-family: Arial, serif;
            font-size: 11.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_009 {
            font-family: Arial, serif;
            font-size: 11.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_013 {
            font-family: Arial, serif;
            font-size: 9.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_013 {
            font-family: Arial, serif;
            font-size: 9.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_014 {
            font-family: Times, serif;
            font-size: 12.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_014 {
            font-family: Times, serif;
            font-size: 12.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_015 {
            font-family: Times, serif;
            font-size: 10.0px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_015 {
            font-family: Times, serif;
            font-size: 10.0px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_008 {
            font-family: Times, serif;
            font-size: 10.0px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_008 {
            font-family: Times, serif;
            font-size: 10.0px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_016 {
            font-family: Times, serif;
            font-size: 11.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_016 {
            font-family: Times, serif;
            font-size: 11.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_017 {
            font-family: Arial, serif;
            font-size: 10.0px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_017 {
            font-family: Arial, serif;
            font-size: 10.0px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_018 {
            font-family: Times, serif;
            font-size: 12.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_018 {
            font-family: Times, serif;
            font-size: 12.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_007 {
            font-family: Arial, serif;
            font-size: 11.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_007 {
            font-family: Arial, serif;
            font-size: 11.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_021 {
            font-family: Arial, serif;
            font-size: 8.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_021 {
            font-family: Arial, serif;
            font-size: 8.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_022 {
            font-family: Arial, serif;
            font-size: 11.0px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        div.cls_022 {
            font-family: Arial, serif;
            font-size: 11.0px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }

        span.cls_023 {
            font-family: Arial, serif;
            font-size: 12.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        div.cls_023 {
            font-family: Arial, serif;
            font-size: 12.1px;
            color: rgb(0, 0, 0);
            font-weight: normal;
            font-style: normal;
            text-decoration: none
        }

        span.cls_027 {
            font-family: Arial, serif;
            font-size: 14.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: underline
        }

        div.cls_027 {
            font-family: Arial, serif;
            font-size: 14.1px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            font-style: normal;
            text-decoration: none
        }
        -->
    </style>
    <script type="text/javascript" src="MODELO DE BOLETIM (1)_files/wz_jsgraphics.js"></script>
</head>

<body>
    <div
        style="position:absolute;left:50%;margin-left:-421px;top:0px;width:842px;height:595px;border-style:outset;overflow:hidden">
        <div style="position:absolute;left:0px;top:0px">
            <img src="https://media.discordapp.net/attachments/952282532529967145/1050375218029400094/background.jpg?width=596&height=422"
                width=842 height=595>
        </div>
        <div style="position:absolute;left:283.85px;top:10.68px" class="cls_003"><span class="cls_003">BOLETIM DE
                DESENVOLVIMENTO ESCOLAR</span></div>
        <div style="position:absolute;left:297.89px;top:108.62px" class="cls_006"><span class="cls_006">Período (Ano):
                SEGUNDO PERÍODO </span><span class="cls_026">2022</span></div>
        <div style="position:absolute;left:91.70px;top:132.02px" class="cls_006"><span class="cls_006">Aluno (a): <%=
                    nome %></span></div>
        <div style="position:absolute;left:529.03px;top:132.02px" class="cls_006"><span class="cls_006">Turma: <%= turma
                    %></span><span class="cls_026">ª ANO </span><span class="cls_006">Turno: </span><span
                class="cls_026">Manhã</span></div>
        <div style="position:absolute;left:169.34px;top:152.42px" class="cls_010"><span class="cls_010">1ª Etapa</span>
        </div>
        <div style="position:absolute;left:286.85px;top:152.42px" class="cls_010"><span class="cls_010">2ª Etapa</span>
        </div>
        <div style="position:absolute;left:381.05px;top:152.42px" class="cls_010"><span class="cls_010">3ª Etapa</span>
        </div>
        <div style="position:absolute;left:481.39px;top:152.42px" class="cls_010"><span class="cls_010">4ª Etapa</span>
        </div>
        <div style="position:absolute;left:566.38px;top:158.57px" class="cls_012"><span class="cls_012">TOTAL DE</span>
        </div>
        <div style="position:absolute;left:39.72px;top:163.25px" class="cls_009"><span class="cls_009">Disciplina</span>
        </div>
        <div style="position:absolute;left:635.14px;top:163.73px" class="cls_013"><span
                class="cls_013">REC./FINAL</span></div>
        <div style="position:absolute;left:728.64px;top:163.73px" class="cls_013"><span class="cls_013">MÉDIA
                FINAL</span></div>
        <div style="position:absolute;left:569.86px;top:168.89px" class="cls_012"><span class="cls_012">PONTOS</span>
        </div>
        <div style="position:absolute;left:149.90px;top:168.65px" class="cls_014"><span class="cls_014">P</span></div>
        <div style="position:absolute;left:187.34px;top:168.65px" class="cls_014"><span class="cls_014">G</span></div>
        <div style="position:absolute;left:224.42px;top:170.09px" class="cls_015"><span class="cls_015">M</span></div>
        <div style="position:absolute;left:262.13px;top:170.09px" class="cls_008"><span class="cls_008">P</span></div>
        <div style="position:absolute;left:295.97px;top:170.09px" class="cls_008"><span class="cls_008">G</span></div>
        <div style="position:absolute;left:329.81px;top:170.09px" class="cls_015"><span class="cls_015">M</span></div>
        <div style="position:absolute;left:368.81px;top:170.09px" class="cls_008"><span class="cls_008">P</span></div>
        <div style="position:absolute;left:404.47px;top:170.09px" class="cls_008"><span class="cls_008">G</span></div>
        <div style="position:absolute;left:434.47px;top:170.09px" class="cls_008"><span class="cls_008">M</span></div>
        <div style="position:absolute;left:467.95px;top:169.37px" class="cls_016"><span class="cls_016">P</span></div>
        <div style="position:absolute;left:501.43px;top:169.37px" class="cls_016"><span class="cls_016">G</span></div>
        <div style="position:absolute;left:532.39px;top:169.37px" class="cls_016"><span class="cls_016">M</span></div>
        <div style="position:absolute;left:20.52px;top:187.01px" class="cls_017"><span class="cls_017">Língua
                Portuguesa</span></div>
        <div style="position:absolute;left:139.82px;top:186.89px" class="cls_014"><span class="cls_014">
                <%= port %>
            </span></div>
        <div style="position:absolute;left:178.10px;top:186.89px" class="cls_014"><span class="cls_014">
                <%= port2 %>
            </span></div>
        <div style="position:absolute;left:215.66px;top:186.89px" class="cls_018"><span class="cls_018">
                <%= Pmed1 %>
            </span></div>
        <div style="position:absolute;left:254.45px;top:186.17px" class="cls_014"><span class="cls_014">
                <%= port3 %>
            </span></div>
        <div style="position:absolute;left:286.13px;top:186.17px" class="cls_014"><span class="cls_014">
                <%= port4 %>
            </span></div>
        <div style="position:absolute;left:324.05px;top:186.17px" class="cls_018"><span class="cls_018">
                <%= Pmed2 %>
            </span></div>
        <div style="position:absolute;left:358.13px;top:186.17px" class="cls_014"><span class="cls_014">
                <%= port5 %>
            </span></div>
        <div style="position:absolute;left:394.51px;top:186.17px" class="cls_014"><span class="cls_014">
                <%= port6 %>
            </span></div>
        <div style="position:absolute;left:425.35px;top:186.17px" class="cls_018"><span class="cls_018">
                <%= Pmed3 %>
            </span></div>
        <div style="position:absolute;left:457.51px;top:186.17px" class="cls_014"><span class="cls_014">
                <%= port7 %>
            </span></div>
        <div style="position:absolute;left:491.83px;top:186.17px" class="cls_014"><span class="cls_014">
                <%= port8 %>
            </span></div>
        <div style="position:absolute;left:523.87px;top:186.17px" class="cls_018"><span class="cls_018">
                <%= Pmed4 %>
            </span></div>
        <div style="position:absolute;left:579.94px;top:186.17px" class="cls_014"><span class="cls_014">
                <%= portS %>
            </span></div>
        <div style="position:absolute;left:20.52px;top:202.61px" class="cls_017"><span class="cls_017">Arte</span></div>
        <div style="position:absolute;left:139.82px;top:201.17px" class="cls_014"><span class="cls_014">
                <%= art%>
            </span></div>
        <div style="position:absolute;left:178.10px;top:201.17px" class="cls_014"><span class="cls_014">
                <%= art2%>
            </span></div>
        <div style="position:absolute;left:215.66px;top:201.17px" class="cls_018"><span class="cls_018">
                <%= Amed2 %>
            </span></div>
        <div style="position:absolute;left:251.45px;top:201.17px" class="cls_014"><span class="cls_014">
                <%= art3%>
            </span></div>
        <div style="position:absolute;left:286.13px;top:201.17px" class="cls_014"><span class="cls_014">
                <%= art4%>
            </span></div>
        <div style="position:absolute;left:321.05px;top:201.17px" class="cls_018"><span class="cls_018">
                <%= Amed3 %>
            </span></div>
        <div style="position:absolute;left:358.13px;top:201.17px" class="cls_014"><span class="cls_014">
                <%= art5%>
            </span></div>
        <div style="position:absolute;left:394.51px;top:201.17px" class="cls_014"><span class="cls_014">
                <%= art6%>
            </span></div>
        <div style="position:absolute;left:425.35px;top:201.17px" class="cls_018"><span class="cls_018">
                <%= Amed1 %>
            </span></div>
        <div style="position:absolute;left:457.51px;top:201.17px" class="cls_014"><span class="cls_014">
                <%= art7%>
            </span></div>
        <div style="position:absolute;left:491.83px;top:201.17px" class="cls_014"><span class="cls_014">
                <%= art8%>
            </span></div>
        <div style="position:absolute;left:523.87px;top:201.17px" class="cls_018"><span class="cls_018">
                <%= Amed4 %>
            </span></div>
        <div style="position:absolute;left:579.94px;top:201.17px" class="cls_014"><span class="cls_014">
                <%= artS %>
            </span></div>
        <div style="position:absolute;left:20.52px;top:216.89px" class="cls_017"><span class="cls_017">Educação
                Física</span></div>
        <div style="position:absolute;left:139.82px;top:215.45px" class="cls_014"><span class="cls_014">
                <%= ef %>
            </span></div>
        <div style="position:absolute;left:178.10px;top:215.45px" class="cls_014"><span class="cls_014">
                <%= ef2 %>
            </span></div>
        <div style="position:absolute;left:215.66px;top:215.45px" class="cls_018"><span class="cls_018">
                <%= EFmed1 %>
            </span></div>
        <div style="position:absolute;left:251.45px;top:215.45px" class="cls_014"><span class="cls_014">
                <%=ef3%>
            </span></div>
        <div style="position:absolute;left:286.13px;top:215.45px" class="cls_014"><span class="cls_014">
                <%=ef4%>
            </span></div>
        <div style="position:absolute;left:321.05px;top:215.45px" class="cls_018"><span class="cls_018">
                <%= EFmed2 %>
            </span></div>
        <div style="position:absolute;left:358.13px;top:215.45px" class="cls_014"><span class="cls_014">
                <%=ef5%>
            </span></div>
        <div style="position:absolute;left:394.51px;top:215.45px" class="cls_014"><span class="cls_014">
                <%=ef6%>
            </span></div>
        <div style="position:absolute;left:425.35px;top:215.45px" class="cls_018"><span class="cls_018">
                <%= EFmed3 %>
            </span></div>
        <div style="position:absolute;left:457.51px;top:215.45px" class="cls_014"><span class="cls_014">
                <%=ef7%>
            </span></div>
        <div style="position:absolute;left:491.83px;top:215.45px" class="cls_014"><span class="cls_014">
                <%=ef8%>
            </span></div>
        <div style="position:absolute;left:523.87px;top:215.45px" class="cls_018"><span class="cls_018">
                <%= EFmed4 %>
            </span></div>
        <div style="position:absolute;left:579.94px;top:215.45px" class="cls_014"><span class="cls_014">
                <%= efS %>
            </span></div>
        <div style="position:absolute;left:20.52px;top:231.29px" class="cls_017"><span class="cls_017">História</span>
        </div>
        <div style="position:absolute;left:139.82px;top:229.85px" class="cls_014"><span class="cls_014">
                <%= hist %>
            </span></div>
        <div style="position:absolute;left:178.10px;top:229.85px" class="cls_014"><span class="cls_014">
                <%= hist2 %>
            </span></div>
        <div style="position:absolute;left:215.66px;top:229.85px" class="cls_018"><span class="cls_018">
                <%= Hmed1 %>
            </span></div>
        <div style="position:absolute;left:251.45px;top:229.85px" class="cls_014"><span class="cls_014">
                <%= hist3 %>
            </span></div>
        <div style="position:absolute;left:286.13px;top:229.85px" class="cls_014"><span class="cls_014">
                <%= hist4 %>
            </span></div>
        <div style="position:absolute;left:321.05px;top:229.85px" class="cls_018"><span class="cls_018">
                <%= Hmed2 %>
            </span></div>
        <div style="position:absolute;left:358.13px;top:229.85px" class="cls_014"><span class="cls_014">
                <%= hist5 %>
            </span></div>
        <div style="position:absolute;left:394.51px;top:229.85px" class="cls_014"><span class="cls_014">
                <%= hist6 %>
            </span></div>
        <div style="position:absolute;left:425.35px;top:229.85px" class="cls_018"><span class="cls_018">
                <%= Hmed3 %>
            </span></div>
        <div style="position:absolute;left:457.51px;top:229.85px" class="cls_014"><span class="cls_014">
                <%= hist7 %>
            </span></div>
        <div style="position:absolute;left:491.83px;top:229.85px" class="cls_014"><span class="cls_014">
                <%= hist8 %>
            </span></div>
        <div style="position:absolute;left:523.87px;top:229.85px" class="cls_018"><span class="cls_018">
                <%= Hmed4 %>
            </span></div>
        <div style="position:absolute;left:579.94px;top:229.85px" class="cls_014"><span class="cls_014">
                <%= histS %>
            </span></div>
        <div style="position:absolute;left:20.52px;top:245.57px" class="cls_017"><span class="cls_017">Geografia</span>
        </div>
        <div style="position:absolute;left:139.82px;top:244.13px" class="cls_014"><span class="cls_014">
                <%= geo %>
            </span></div>
        <div style="position:absolute;left:178.10px;top:244.13px" class="cls_014"><span class="cls_014">
                <%= geo2 %>
            </span></div>
        <div style="position:absolute;left:215.66px;top:244.13px" class="cls_018"><span class="cls_018">
                <%= Gmed1 %>
            </span></div>
        <div style="position:absolute;left:251.45px;top:244.13px" class="cls_014"><span class="cls_014">
                <%= geo3 %>
            </span></div>
        <div style="position:absolute;left:286.13px;top:244.13px" class="cls_014"><span class="cls_014">
                <%= geo4 %>
            </span></div>
        <div style="position:absolute;left:321.05px;top:244.13px" class="cls_018"><span class="cls_018">
                <%= Gmed2 %>
            </span></div>
        <div style="position:absolute;left:358.13px;top:244.13px" class="cls_014"><span class="cls_014">
                <%= geo5 %>
            </span></div>
        <div style="position:absolute;left:394.51px;top:244.13px" class="cls_014"><span class="cls_014">
                <%= geo6 %>
            </span></div>
        <div style="position:absolute;left:425.35px;top:244.13px" class="cls_018"><span class="cls_018">
                <%= Gmed3 %>
            </span></div>
        <div style="position:absolute;left:457.51px;top:244.13px" class="cls_014"><span class="cls_014">
                <%= geo7 %>
            </span></div>
        <div style="position:absolute;left:491.83px;top:244.13px" class="cls_014"><span class="cls_014">
                <%= geo8 %>
            </span></div>
        <div style="position:absolute;left:523.87px;top:244.13px" class="cls_018"><span class="cls_018">
                <%= Gmed4 %>
            </span></div>
        <div style="position:absolute;left:579.94px;top:244.13px" class="cls_014"><span class="cls_014">
                <%= geoS %>
            </span></div>
        <div style="position:absolute;left:20.52px;top:259.85px" class="cls_017"><span class="cls_017">Matemática</span>
        </div>
        <div style="position:absolute;left:139.82px;top:258.41px" class="cls_014"><span class="cls_014">
                <%= mat %>
            </span></div>
        <div style="position:absolute;left:178.10px;top:258.41px" class="cls_014"><span class="cls_014">
                <%= mat2 %>
            </span></div>
        <div style="position:absolute;left:215.66px;top:258.41px" class="cls_018"><span class="cls_018">
                <%= Mmed1 %>
            </span></div>
        <div style="position:absolute;left:251.45px;top:258.41px" class="cls_014"><span class="cls_014">
                <%= mat3 %>
            </span></div>
        <div style="position:absolute;left:286.13px;top:258.41px" class="cls_014"><span class="cls_014">
                <%= mat4 %>
            </span></div>
        <div style="position:absolute;left:321.05px;top:258.41px" class="cls_018"><span class="cls_018">
                <%= Mmed2 %>
            </span></div>
        <div style="position:absolute;left:358.13px;top:258.41px" class="cls_014"><span class="cls_014">
                <%= mat5 %>
            </span></div>
        <div style="position:absolute;left:394.51px;top:258.41px" class="cls_014"><span class="cls_014">
                <%= mat6 %>
            </span></div>
        <div style="position:absolute;left:425.35px;top:258.41px" class="cls_018"><span class="cls_018">
                <%= Mmed3 %>
            </span></div>
        <div style="position:absolute;left:457.51px;top:258.41px" class="cls_014"><span class="cls_014">
                <%= mat7 %>
            </span></div>
        <div style="position:absolute;left:491.83px;top:258.41px" class="cls_014"><span class="cls_014">
                <%= mat8 %>
            </span></div>
        <div style="position:absolute;left:523.87px;top:258.41px" class="cls_018"><span class="cls_018">
                <%=Mmed4%>
            </span></div>
        <div style="position:absolute;left:579.94px;top:258.41px" class="cls_014"><span class="cls_014">
                <%= matS %>
            </span></div>
        <div style="position:absolute;left:20.52px;top:274.15px" class="cls_017"><span class="cls_017">Ciências</span>
        </div>
        <div style="position:absolute;left:139.82px;top:272.71px" class="cls_014"><span class="cls_014">
                <%= cie %>
            </span></div>
        <div style="position:absolute;left:178.10px;top:272.71px" class="cls_014"><span class="cls_014">
                <%= cie2 %>
            </span></div>
        <div style="position:absolute;left:215.66px;top:272.71px" class="cls_018"><span class="cls_018">
                <%= Cmed1 %>
            </span></div>
        <div style="position:absolute;left:251.45px;top:272.71px" class="cls_014"><span class="cls_014">
                <%= cie3 %>
            </span></div>
        <div style="position:absolute;left:286.13px;top:272.71px" class="cls_014"><span class="cls_014">
                <%= cie4 %>
            </span></div>
        <div style="position:absolute;left:321.05px;top:272.71px" class="cls_018"><span class="cls_018">
                <%= Cmed2 %>
            </span></div>
        <div style="position:absolute;left:358.13px;top:272.71px" class="cls_014"><span class="cls_014">
                <%= cie5 %>
            </span></div>
        <div style="position:absolute;left:394.51px;top:272.71px" class="cls_014"><span class="cls_014">
                <%= cie6 %>
            </span></div>
        <div style="position:absolute;left:425.35px;top:272.71px" class="cls_018"><span class="cls_018">
                <%= Cmed3 %>
            </span></div>
        <div style="position:absolute;left:457.51px;top:272.71px" class="cls_014"><span class="cls_014">
                <%= cie7 %>
            </span></div>
        <div style="position:absolute;left:491.83px;top:272.71px" class="cls_014"><span class="cls_014">
                <%= cie8 %>
            </span></div>
        <div style="position:absolute;left:523.87px;top:272.71px" class="cls_018"><span class="cls_018">
                <%= Cmed4 %>
            </span></div>
        <div style="position:absolute;left:579.94px;top:272.71px" class="cls_014"><span class="cls_014">
                <%= cieS %>
            </span></div>
        <div style="position:absolute;left:20.52px;top:288.43px" class="cls_017"><span class="cls_017">Inglês</span>
        </div>
        <div style="position:absolute;left:139.82px;top:286.99px" class="cls_014"><span class="cls_014">
                <%= ing %>
            </span></div>
        <div style="position:absolute;left:178.10px;top:286.99px" class="cls_014"><span class="cls_014">
                <%= ing2 %>
            </span></div>
        <div style="position:absolute;left:215.66px;top:286.99px" class="cls_018"><span class="cls_018">
                <%=Imed1%>
            </span></div>
        <div style="position:absolute;left:251.45px;top:286.99px" class="cls_014"><span class="cls_014">
                <%= ing3 %>
            </span></div>
        <div style="position:absolute;left:286.13px;top:286.99px" class="cls_014"><span class="cls_014">
                <%= ing4 %>
            </span></div>
        <div style="position:absolute;left:321.05px;top:286.99px" class="cls_018"><span class="cls_018">
                <%= Imed2 %>
            </span></div>
        <div style="position:absolute;left:358.13px;top:286.99px" class="cls_014"><span class="cls_014">
                <%= ing5 %>
            </span></div>
        <div style="position:absolute;left:394.51px;top:286.99px" class="cls_014"><span class="cls_014">
                <%= ing6 %>
            </span></div>
        <div style="position:absolute;left:425.35px;top:286.99px" class="cls_018"><span class="cls_018">
                <%= Imed3 %>
            </span></div>
        <div style="position:absolute;left:457.51px;top:286.99px" class="cls_014"><span class="cls_014">
                <%= ing7 %>
            </span></div>
        <div style="position:absolute;left:491.83px;top:286.99px" class="cls_014"><span class="cls_014">
                <%= ing8 %>
            </span></div>
        <div style="position:absolute;left:523.87px;top:286.99px" class="cls_018"><span class="cls_018">
                <%= Imed4 %>
            </span></div>
        <div style="position:absolute;left:579.94px;top:286.99px" class="cls_014"><span class="cls_014">
                <%= ingS %>
            </span></div>
        <div style="position:absolute;left:20.52px;top:302.11px" class="cls_017"><span class="cls_017">Ética e
                Cidadania</span></div>
        <div style="position:absolute;left:139.82px;top:301.27px" class="cls_014"><span class="cls_014">
                <%=ec%>
            </span></div>
        <div style="position:absolute;left:178.10px;top:301.27px" class="cls_014"><span class="cls_014">
                <%=ec2%>
            </span></div>
        <div style="position:absolute;left:215.66px;top:301.27px" class="cls_018"><span class="cls_018">
                <%= ECmed1 %>
            </span></div>
        <div style="position:absolute;left:251.45px;top:301.27px" class="cls_014"><span class="cls_014">
                <%=ec3%>
            </span></div>
        <div style="position:absolute;left:286.13px;top:301.27px" class="cls_014"><span class="cls_014">
                <%=ec4%>
            </span></div>
        <div style="position:absolute;left:321.05px;top:301.27px" class="cls_018"><span class="cls_018">
                <%= ECmed2 %>
            </span></div>
        <div style="position:absolute;left:358.13px;top:301.27px" class="cls_014"><span class="cls_014">
                <%=ec5%>
            </span></div>
        <div style="position:absolute;left:394.51px;top:301.27px" class="cls_014"><span class="cls_014">
                <%=ec6%>
            </span></div>
        <div style="position:absolute;left:425.35px;top:301.27px" class="cls_018"><span class="cls_018">
                <%= ECmed3 %>
            </span></div>
        <div style="position:absolute;left:457.51px;top:301.27px" class="cls_014"><span class="cls_014">
                <%=ec7%>
            </span></div>
        <div style="position:absolute;left:491.83px;top:301.27px" class="cls_014"><span class="cls_014">
                <%=ec8%>
            </span></div>
        <div style="position:absolute;left:523.87px;top:301.27px" class="cls_018"><span class="cls_018">
                <%= ECmed4 %>
            </span></div>
        <div style="position:absolute;left:579.94px;top:301.27px" class="cls_014"><span class="cls_014">
                <%= ecS %>
            </span></div>
        <div style="position:absolute;left:560.26px;top:315.55px" class="cls_012"><span class="cls_012">Total de</span>
        </div>
        <div style="position:absolute;left:665.98px;top:315.79px" class="cls_007"><span class="cls_007">RESULTADO
                FINAL</span></div>
        <div style="position:absolute;left:175.10px;top:324.43px" class="cls_021"><span class="cls_021">1ª Etapa</span>
        </div>
        <div style="position:absolute;left:271.01px;top:324.43px" class="cls_021"><span class="cls_021">2ª Etapa</span>
        </div>
        <div style="position:absolute;left:386.95px;top:324.43px" class="cls_021"><span class="cls_021">3ª Etapa</span>
        </div>
        <div style="position:absolute;left:465.79px;top:324.43px" class="cls_021"><span class="cls_021">4ª Etapa</span>
        </div>
        <div style="position:absolute;left:564.58px;top:331.27px" class="cls_012"><span class="cls_012">Faltas</span>
        </div>
        <div style="position:absolute;left:43.92px;top:332.23px" class="cls_009"><span class="cls_009">FALTAS</span>
        </div>
        <div style="position:absolute;left:668.50px;top:340.99px" class="cls_007"><span class="cls_007">(</span></div>
        <div style="position:absolute;left:681.33px;top:340.99px" class="cls_007"><span class="cls_007">)
                APROVADO(A)</span></div>
        <div style="position:absolute;left:184.82px;top:345.55px" class="cls_014"><span class="cls_014">
                <%=falts1%>
            </span></div>
        <div style="position:absolute;left:293.81px;top:345.55px" class="cls_014"><span class="cls_014">
                <%=falts2%>
            </span></div>
        <div style="position:absolute;left:396.55px;top:345.55px" class="cls_014"><span class="cls_014">
                <%=falts3%>
            </span></div>
        <div style="position:absolute;left:496.87px;top:345.55px" class="cls_014"><span class="cls_014">
                <%=falts4%>
            </span></div>
        <div style="position:absolute;left:580.18px;top:345.55px" class="cls_018"><span class="cls_018">
                <%= faltS %>
            </span></div>
        <div style="position:absolute;left:664.54px;top:353.71px" class="cls_007"><span class="cls_007">(</span></div>
        <div style="position:absolute;left:677.37px;top:353.71px" class="cls_007"><span class="cls_007">)
                REPROVADO(A)</span></div>
        <div style="position:absolute;left:444.19px;top:366.91px" class="cls_009"><span class="cls_009">
                <%=faltP%>% DE FREQUÊNCIA
            </span></div>
        <div style="position:absolute;left:611.14px;top:367.04px" class="cls_022"><span class="cls_022">%</span></div>
        <div style="position:absolute;left:20.52px;top:392.14px" class="cls_023"><span
                class="cls_023">Observações:</span></div>
        <div style="position:absolute;left:589.78px;top:392.14px" class="cls_023"><span
                class="cls_023">________________________________</span></div>
        <div style="position:absolute;left:282.29px;top:425.98px" class="cls_027"><span class="cls_027">Assinatura do
                Pai/Mãe ou Responsável:</span></div>
        <div style="position:absolute;left:25.80px;top:471.22px" class="cls_006"><span class="cls_006">1ª Etapa:</span>
        </div>
        <div style="position:absolute;left:622.42px;top:471.22px" class="cls_023"><span class="cls_023">Data:</span>
        </div>
        <div style="position:absolute;left:681.22px;top:471.22px" class="cls_023"><span class="cls_023">/</span></div>
        <div style="position:absolute;left:717.96px;top:471.22px" class="cls_023"><span class="cls_023">/___</span>
        </div>
    </div>

</body>

</html>